
@import '../node_modules/bootstrap/less/bootstrap.less';

// @font-family-sans-serif: Hind, sans-serif;

@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');

// Login block
.block-user{
  label{
    display: none;
  }
  .form-item, .form-actions{
    display: inline-block;
  }

  .item-list ul li{
    display: inline;
    margin: 0;
  }

}


//image 11 16 19 25 34 38a 41 51 54 96
